*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightcyan;
    min-height: 100vh;
    border: 10px solid black;
}
.content{
    

    max-width: 900px;
    margin: auto;
}
.top_section{
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSEhIVFhUVFRUVFRUVFRUXGBUVFRUWFhUVFRYYHSggGBolHRUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDg0OGhAQGi0lHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAEAAECAwYFBwj/xABCEAACAQIDBAcECgECBAcAAAABAgADEQQSIQUxQVEGEyJhcYGRMqGx0QcUI0JSYnKywfCic+FTgrPCFSQzNENjkv/EABsBAAIDAQEBAAAAAAAAAAAAAAABAgMEBQYH/8QAOxEAAgECBAMEBwUHBQAAAAAAAAECAxEEEiExQVFhBSJxgRMjkbHB0fAGMkKh4RQzQ1JicsJTotLi8f/aAAwDAQACEQMRAD8A87AlFdISpkHWerOHF2ZzXWVMkLqLKXElY1xkDMsiRNu3QJvqCY04hFaqUCUTTbtZ9QMwJJa2tgp3WvGw/RfDPhqmVq5xVMMbdWQjOqliqAi5GhXg17HS+WZJ43DxdnLW9vrp19hrjSm1ojD2itLq9FkYq6lWG9WBBHiDulc15eRC5G0VpK0VoZAuQtFaTtFlksg7kLR7SVorQyCuQtHyyVo9oZAuQtFaTtGtHkC5G0e0laK0MgXI2itJ2itDIK5C0VpO0a0MoyNorSVo1osgXFaK0VpK0MoEYrR4osoDWikrRWiyhcjGtJ2jWisFyFoo9opHKO5pKiyoiF1ElNQSSOPGQHUEGMLrawc05YkaoPQ9b2hSV+jlMkXKU6bKeKsGA0PmR5zCdGqHWY+hRJ7L000OoDPhR2sp0JuSfGehCnm6Oa7xT08n0+EwvRNLbUwh59R/0EX4zj0YJ06yf9f+NvZa50ZSs4vwMptLCPTc5rm5azn71jYm/PmN4gdptsWxWq6AKQ7ZTTfVDUGoVgfZzi1m4MDzM42I2dSqBmo3QrfPRc3Zbb8p3kDv3cZR2f8AaClWSjXWV6a/hf8Ax8+7wutE+vjuxalKTdLvLXTj/wBtPPocK0Vpf1cjknpLHAzFVo9pZljWjyhmK4rSy0bLJZR3IWitJ5ZLLDKFyu0VpMLJZYWFcrAj5ZYEkwkLCcii0bLCGpRgkVgzlFo+WF0MOS1rajhOv1IYZDYDibAW8ZFtIqnXUWkZy0VoViMPlYi97cecpyx2LVJPVFdo1pbliywsO5VaPllmWLLI5QzFdo9pZliIisLMU2itJ2jWisSuQtFJ2jxZQua+oJRXw5G+IMZBix4ypRZxluUtQEoqovOGBNIDXAlsUXU3d7nruAsejrd1Kr/iz/Kee7FqEY7AMOL4YeXW5D7gZ6H0ZGbo7UH/ANWJH+VWefbAp3xWzf8AUo+7FPOZh13qy/ql7pfI6tWXdi+i+HzOptjBCoxU6Zrpfky3NNvj6zOvQaqSPZxVPTl1oXdr+IDceImx25hyzOo0N2K9zK2k4W18KatNcRTFnQdoDfpv8wbz5zhqmW0b+D5Pr0ls10XI+m1oZ1mf1+q4GTrXubjXiCLWPHTh4Srq5pMXQ+s0+uUfaoO2B99R97xE4GTiOM9T2Z2xOiskleK0cb7eD5dHo1yZ5ztDsiNV5lpLnz8fq/UqySBWdKhRWromlX/hn7/+mTvP5TryvwGZCDY6HlynsMNi6OIi5UpXtuuK8V9J8GzyVehVoSy1Fblyfg/q3EGyxssvyxsk1FWYryxBZbkjqsAcirLHCy/LHCREc5UqiStJhJYi6wZByC9k4EVHAb2eM0u0KWHC2yqGyhRpqB/EzlOpl9knug1WozHU3vM06TnJO9kilSbuFq1JDcW8pTiMaGvpYHgINUp2NpEJLci3BQju9SpwOEryQk05HLJl6mRo0QSLnSdTF0qQpjKNROeBESZCUW2QleT3KHTlI5IRlkWEZYpA5EiVlxWMVisTUijLFaXZY2WJoeYpyxS3LHiDMaAGQYmWhRK6ikytI5StcqqVyBaBFbws0DEtGWpF8ZRitD1voTTvsOqn5MQPUv8AOYXo4oGL2ceVWn78VU+c3/0eLfZVVe+sPUH5zFdFqQOK2eT/AMQDzWuzD9wnHo6Tr/3P3TOhUl3afgvfE9A6c7DUL9apixDA1F4dq3aHI3OvjMFhhkqvT4P9onjucfA+c9r2hhFq0mpuLhlsfLlPMeknR2pRAZe0EIZG92U8r6jlqPCeF7Qwdn6SC0e/R87cub6u57rsftCMoKjUl3k9L8VyvzTMTi8I2HrCpTNlY3A4A8UPd/eEF29s8D7amOw+8fhY/wAGajEUlrIV4MLjuPA+4jynO2YwIeg/eCD6ekyU8RJJT4rR9V+n1udmVOLVjHVKN/Ef286OG2hTqgU8Xv3JiBvHIV/xD82/4xY/DGk5UjVToe7gD84HUpB9V38R/InXpVpRaqQk0+Elwv8Ak0+KaafFHLxGGjNOEknfdPj/AOcHug3aOyKlEi4zKfZddVbjof4gK0CYbsTbrUPs3+0on7p1y/pvw7vhNC2x6VVeswrCx+7ff3AnUHuM9LhPtFBWp420HwmvuPx/kfi3HjdbHk8b2JVSc8L3lxj+JeH8y8NejZlfq8rKWnWq4VlJDAgjeNxEFqUp6VSvqecVXWzBQsl1cvVJeqC0bYnUsCrTialCwo3SupEiKm2ylVlZWxhSDjKXWCJKRSYrSeWPkjJ3RXaRtL8kfJAMyKcsWSXBJFhFuGYpYSBWX5YssBqQPljFZfliKxEswPljZYRlkcsiPMU5YpbliiHmOwksyypZckgc2RUwiVZcySSLGLNoeo/Rot8BVX8zftX5zG9FhavgTyxOX/JD/wB02v0Y/wDtao/OfeomMpV2pClVABNKq7gHddBTYA28JyKb9dXXN/4zOrVlajRl0+MD275mc7FUQbgi43HwMIwOMWqmdWBvlJAPsllVrHlowk2W84SOujD7V6MqTel2Ga5K/dzbzb8Jv5acJjNtbJcNmIKVFtv/AJ5qd09cxFPtE24f3+985O1sKtSwdcyncONzrod4v2h5ic+v2fGbz0+7L8n4r5ew7OD7YqUrRq96P+5eD4+ftPJ9o4fr6YbL9ouluOm9D8RM0KLBhbU7wefPznpu0tgmlUvTJdWt2fvW+6RwJGo4bra6TObQwC3LWsSe0wuMr8GIPs33HvnPWfDPJNaPZ8Pr8+h34VaWKWanLx4P2fHbqY/G07G/P3GPs3aNTDvmpnxU+y3iP5huIwTVCQgvk49/KcxqRBsRYjeJuhKM4ZXrzXQz1ISUsy9pv9m7Vo41crABgNUJ7Q71b7w/pEE2jsOomtPtr3DUePzExFipDKSCNQQbEHuM1GxOl5Fkr+VUD9wHxEnhcTjOztcM89P/AE5a2/t4ry81I5+M7PwuNfrllnwmvjw9um9rAXVyQW02jpRxADMqsCNHQ6nzG/znLxuwXAvT7a8fxDy4+U9P2f8AabB4tqE/Vz5S28pbPomot8jyfaH2fxmFWZLPHnHfzjr+TkupnssiEhWSQVJ6E4KndXRVlsJUywp1jBI0NTBgkfJCRTln1e2+JsfpAQU4ilpewlZWFwUrlJEhlhBWNkjJZijJGyQjLGyQuPMUZJErCCkbJESzA2WNlhBSMUkSWYHyxQjJGiDMHKkuppOvsfY71SbCwHEjS/ACd7D9Him8At3DTwF5kqYqEHZvUpp4epVV1sZJaJ5H0jGnraaZdn1AcuUgE+1bd8pYuDpK2Y69/M+MX7VFB+yS5+00H0Xj7Ct+r+BMftClakfGr+2nN/0GpgLXtaxIPPhzMxW1EtRfuZ/eB8pzYT9dVfh7n8zo1oWw8E+Cf5NfI5eD2pVp1mrU3ZGGRbg6EIqgBhuYabjPWei23hi6OawFRTaoo3AnUMPynX0I4XniX1nUjh85o+gu1DRxaa9lyEflZzYHyOU+RnCi2inBV5QnZ7P4nr9VZy69HMGXiNR8R752HWcPpFj/AKtQq4i1xSpu9ueVSQPM2EuO6YfpB0k+0+r4eia+IXtPbs06CkXJrPbTde38kA8XFV8cf/XwlCqG3rRqkVFGmb29GOu7jmE6my8A2Dwi1n9usor16pCkis4LnOQQLDMwKsQCCbMDv4q7YZXGllGtrlmUXTq+z7RA6tBuBax0ubRuKas1oSjKUXmi7Pmg3D7D62gtXCvnpkEstgKqFdHR0PFTYHjrOViqNAdlqev5hrOylcYbE0sZSPYxDrSrrfMuZxalUzDss2mRyptdu652j7FoYpStSmCCSUb7yqN6k8tbDvM5tbs6Mnmg7dOHt39528N23OCy1lmXPj7Nn9bniO1EpgZlGXW1tbHwvOOzDlPVtufRwAxakS6qOzT3FR4D2/Xhunn20tk1KLZXGp3EC1x4H4RU70+7NP66m70sa/epNeC39m6AcBtGtRN6bleY3g+KnQzU7M6YlrLVsjX9seyfEb1948Jk2ThItTtFWw9Gv99efH9fMKcqlLWL8nseo18ElcZm9reHFvfbfOPidmuhsw04EbjMfsnadTDPmQ3B9qnfRh/B5GdvZ+38VisQiKQlLNmZUF+wupzMdd2mlt839k4vG4WoqDfpKT0V3Zx/t30/p1jbZxOF212dhMTCVderqLV2Wj8dl57809g84M8pZR2cT3TvJhwdbSutiaabzc8l19+6ew9M3okeI9DGOsmcw4QL7Op5wXEpb2jrDMRj3b2QFHhr6znuL75bBS4lM5Q/CUP3SvJCCsbJLriUgfLGywjJH6uMecGyxFZeVjZIrhmKMsjlhJSNkiJZgbLHsIUtAnhJjCHlIuSHnA790UN+pnlFIZ0F3yPSfraoNQLDdu075Q+0hbNfnMxUrM28mLMSLTlRwa4s6DxuuiOy+1SQQbWgNwTcwFlaKxmmFGMfumWWIlL7x6F0BIK1rd3wMxu2an2FfxsP8vlNX9Go7Nb/AJf5mP23haj0sSlMgOalkJ3XvUmHJ62ql0N05Xw9N7Xv5aMyWYAkcZOjVsZPamAGHr1aOd2FNl7T2zXamjHUAAi7cvhBFcThLUxzpunNwfDQ9z6G9KaeLTqnIGIQDMpPtgadanMHiOB7rEz6e7Oars/FoguxoVLAbyQpYAeNrTw+tWZSlRWKsu5lJBBHEEbjum96NfSpltTxylhu69AL23HrKY387r6SalzOrQxakrT9oTi0+tYGhVS3aooVJFB7HqxdULUy5ym4Ys1MDUlhPOF2OxxL1rtdgUy5bdrLkcZmtbLlY6gZcutspM9GpV12fnqU7YjZNVjUDUbMcGxJd6dRVBY0Cxzfl1BGpzSG3NlKBU+u0GWwbVru+YYcHPTtmBbJVDAi46xr75atNjdc4G3aJGz3UsetD0FQHrC5frkyjNUa5sw1XKrCx7InpWHHVjLuXKNfAnjMtsZP/Ea1LEhHXB0GvhxVUh8RWAIXENc6oiWCk6k6ncANFt6vZctzY+vgJFjLq2JVVzDW2unM8D3GcWvhUrpU6ykrU6mmVrdmoNARfXzHdOPTVicgJ5Wv/E07L1aonEDW/PjHYezueabV6E2GegbX+4+7kQrfPnvmP2hs6pSbLVpsLa2YHW+6x3Ed4nvFPAO7ENbq75hzB5Cc7pNh0rB892VRYq9itzp2BwI0lMqMXrHQ30e0Jx0n3l+fyfmeDFdZ6H0N2V1dDrLdqrr4J90eep8xygeN6IK9zRbKbaK1yCeQO8e+bvAYVadNKYGiIqjvygD+JrwFNqo5yW23n+hm7WxUZ0lTg93r4L4Xt7Dj1sOx3kn4QKphuAFpqXoAwVsJrunchXPMzoXMvUwpg9XDEb5q6mBJ4GB1tnm+6aIYhGWeF5Gb6uX0cCzcJ3qOAUbzLGqKvC8lLE8IoUcLb7zONV2blGsCq0rTuYnEZtwgTYUmOFR/iIVKUfwHLKxxRJ3AzrU8Ki6k38ry0YhRuX1knVfBCjR/mdgDB7Jd+Fh4Q4bICbx6mTbaNTcLDwgro7+0SZS5VJPV2Reo0o7Jtl1StTp/hJ5DWAVcWzN8gIZS2cOMvbDqo7Ikc0F1ZJqpJckcmzfhih1jGks3Qh6PqECj3S5MKeU63UjlLlpLMjrmtUDkjCm26VNhe6d9UEt6kHhF6dobw6YX9HqZeuHcvwachqJL1f8AU/mpNL0Xo5WqW4gfzONUo2aoddXJ/wAm+cyqpetN87fA1Sp2owXK/uZXi9jU64+2Gc2AuSb7uBvcTH9IOhFSlephyaiDen318APb8te7jN8rW93wkHrEyl0VNJchVIxk22tTxqm91t5/P+PSUVqc3XTLYS5GxKCzLrUHBgTYt3EXv6zEjvmGrTdOVmYZRcGVbN2tiMK+fD1WpuNNNzDeAynRhv0IM3nRnp1gKjqcZg8PSrNp9Zp0EsT+awLKeNxfynn9alr3zm4qmQTcaDW8rTsbaFVrZn0yNqJUXPhznAW5YMDfLqMtjY3mfr4tqt2Ybz2Lcbb7eGhniuwuktfDPnoVWTN7Q3qT+dDowNvGbPZH0i03qg46mUyWymgD1ZvvJS+YA91/STUjfCqnvozaGh1ZzlLsuuU7u4yWBrVq1S+VWHG98o8x/v4TubFxlDEU+spVEqA6XUhioHBuTW4GHjDWF07I5AWv4SaZaRqgIl7303/KZXauEJTMt8pN3vwbuPL/AGnR6Q48IuRSO+ZynjKrDLnbLyJuPIHdBDQTgqHHlDUjYZQFsTrGIN+c6NCNoeJzsRPNPwLivdIsh5y6kLiRcyy+pWVMCN5gFYi++FVVJgzUZbDQqm7g2II4QNqd511w1xrKzhpdGoloUyg2crqYxpTrLgydwv4Q/CbAdzqQo036n0hLERjuwjQlLZGYNCSXCXm5boqnCob+AtAKmxyhtoe+VLGwlsy39ikt0Z6ngu6E0sBO+myj3e+XNswAHt28RKZYtcy6OGa4GbbCgcz4Sl8OT3CaD6qgPaa1/wC74HiMVTUgIgJOnbv8N0Sr66EvQaa6HJ+piNCKitc9umO7TSKP04vQo6QsYTT2c5GYLp4iB09tULi99Ic/SKjlIDeoMzOVTgi1Rg92VHDkbxLAkDw2ONUmwyj4zoU25yd2tyNlwOnsD2m/T84HUpi7eJ/dDdhntt+mBP7TeJ/dKb99+XwL3+7Xn8Sisn8fCQWjC9JIS1S0KXHUDxOzxVpvTf2XVkPgwIPxniT0mQlH9tCVf9Smze8Ge9XnmHT7Yr06zV1W9KoQSQPYc6ENyudb98zYlXV+RRXj3bmTrLpcQRjfQwpTrYyusltZjM0Gcqsii+lj8Y1EFhcjduPdyhpUNvA09Y5W0Zq9JpYns3aFXDvno1Cj2sGBI9be0N9wZt9l/S9UAKYuj9oBZaqbhe92ZOe7UegnnGIJU29DAMQCDcm9/wC2jRoouz8T2PBbXp4k3Ssrk6ntdoX5qdR6TSbL2dnzHcqgknv4CfOQPr8J7H9EW2MY61KFV89FVDKW1dWLaLm3spFzqdMvlLY6uxplVstTdDDiP1IEKC33RGnra03Z+pjyAl5HqYW1O2+X4dQSL2g6iQ1TbBaezHcXVdIM2EIOoneOPtopAAgeJxykXYyEa0rk3RjwOfTw5O5TLcLQTN2rH4SgbWC3B4ylto07aW93pJNzYkoI0RycCJViqmVCcwNvWZ6ptOnyHkbfCA4jHU2AHaPizStUWWOqjR09tKNOMHp1bue0AO+8zYamfu+maEmxFlUjvzN85N00tiKmaVsURuK28YNjto3FgVHnMzWwbEaVW84GcK3F2/vfBUVvcXpXyNG2JqPqMlhpqf8AaBYnajDQ01PgRAKeBJ/+RreMuGAUa7z33jyR4izsFrMjMWNHU6nWKF5e4RSy5G7C1w1uA9JelPuEmr90mGiciCjYSG0tWsN19ZXmivI7kkdrYD3c/pgtZu0/if3S3o8ftD+mCYpu2/ifjKf4j8PkXP8AdL65luf4D4SQeBtU+A+Aj9dLUtClvUMvIuoIKsAQRYgi4I5EHfBuui6yOwZjL9IOgyPd8MQjb+rJ7J/Sd6+G7wmExeBqUiUqoVYcGG/vHAjvGk9iNWU4yhSrLlqIGHIjd3g8D3iZ54eL1WhROipfd0PEcVRde0ouOXETmvjSPaE9b2h0RpkE0XIP4HFx5MNR5gzGba6Osh7dMjv3qfMaTNKnKO6IRlk0qR80Y3EY1n04e+QNHS4B852auysnDztFTod0jc1KvBLubHLweFLHdpx7+6e/9B9iDD4RC7ENVtUbuzDsr4AW05kzyLZ2ED1Ep8ajqlhwDEAknuF57SuYCwJtaw1OgEvoRbuxRqZ3mfkFiiDchv8AIwVnyNZnIPILeULhwN4B9fnHVADuXzmuxO6I1sRm31DxO63wgtRanBifMwxidwCDvtJU6I5Xkk7bCdmBCqwFiD43/wB5dQRW35j5/wC8KWgDoFEicMv5YnJbDSKqmES/LxOvukWwgIsTeECiBxEa2thb1iUuo2nyAhgEHCSGEQfdltaoV329YOcZy+IkrtkbWJnDqeEj1YXSQbGjjKmxSnnDUC8IOUjUIgrYjxjUquUntN6GGoBAcDcIs99+kFZjzN4G+HqNvPpeNK4r2D8wP3405f1NvxRSWVcxZuhoBUlgcwLrIut7/fICOhlb+2kgPXynLLnv9TK/X1MLMehrujbjrSBf2ePjBMdXAquMo0LchfS8h0NP2zfo/kQbaxIxFT/m/ZKcvrH4F9/Vrx+YQ+OFrWUaDiOIEHGKG7s+sDqvr5L+0RgZZGKsVSk7nQastuy1+ekiK3f8YGplgaOxG4Tnvxiv3wbPG6yMLhQYR2sRYi4O8HW/iIIKks62AHJ2j0Zo1LmmTTbu1XzXh5ETJbU2LWoasmZeLrqtu/iPO09ANUxw5lM6EJdCqVGL6HnPQ3D5sbT19nM58lK2/wD0QfOenl1G9vScqlgKSVDVVArkFSRpcEgnTde4GsIJkqdPIrE4qysGNWXgSfKRauvC8GzRpYSuXribcvO8f66/4gPKCnyiVebWg1EavwHqVW/FaRDP+P3RwF4tJ0igNybwzDUWyk5z9+OAeJvDvrlPiBpA6lWn3xKTfAbglxI3jaRqldL6C0k+NQi1vdC75CsuZDNH38JUcSn4TIHF8haPXkLTmXGm34T6Sl7+EYbQYaWjVNoMRYgWglLkPu8GRubb43WHnKGrd0gakdhXLi5PEx4Nnjx2FcMLSQMUUBErxAxRQEd7ocftm/R/IlG2z/5mp5/9OKKZ3+8fh8jR/Cj4/MBqvr5L+0SvNFFLlsvIqluPmkg0UUBCzRs0UUYiQaLPFFAB80bPFFACBeItFFJANmjF4oohES8gXiigA14s8UUAI5os0UUAIF5EmKKADFpAtFFACBeQLx4pJoCOaK8UUQDRooohn//Z);
    
    margin-top: 100px;
    
}
.top_section h4 {
    text-align: end;
}
.image_container,img{
    width: 300px;
    height: 350px;
    border-radius: 40px;
}
.image_container marquee{
  border:blue 3px solid;
  border-radius: 40px;
  background-color:yellow;
  
}
.about_section{
    margin-top: 100px;
}
.about_section h2 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about_section p {
     
    background-color: whitesmoke;
    font-size: large;
    margin-left: 50px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography_section{
    margin-top: 50px;
    
}
.biography_section h3 {
    font-style: oblique;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.biography_section ul {
    background-color: greenyellow;
    margin-left: 50px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-size: large;
    text-align: justify;
}
.biography_section li{
    margin-bottom: 15px;
}
.images_container{

    margin-left: 500px;
    margin-bottom: 20px;
}

.iframes_container{
    width: 300px;
    height:150px;
    
    margin-left: 500px;
    

}

.bottom_section{
    margin-left: 500px;
    margin-top: 30px;
}

.bottom_section footer {
    margin-right: 10px;
    font-size: larger;
    font-weight: 500;

}